* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.global__button {
  width: 140px;
  height: 40px;
  background-color: #f96900;
  border-radius: 20px;
  border: 0;
  font-size: 16px;
  line-height: 21.82px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.global__button:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
