.header__topline {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* background-color: ; */
  padding: 25px 0 0;
}

.header__logoandname {
  display: flex;
  max-width: 249px;
  padding: 0px 0;
  align-items: top;
}

.header__logo {
  display: block;
  margin: 0 14px 0 0;
}

.header__name {
  padding: 8px 0 0;
}

.header__call {
  display: block;
}

.header__textlogo {
  font-size: 12px;
  line-height: 16.37px;
  color: #343434;
}

.header__phonenumber {
  display: block;
  padding: 8px 0 0;
  font-size: 18px;
  line-height: 24.55px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.header__freecall {
  display: block;
  font-size: 15px;
  line-height: 20.46px;
  text-align: end;
  color: #999999;
}

.header__bottomline {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 30px 0;
}

.header__nav {
  max-width: 467px;
  display: block;
  font-size: 14px;
  line-height: 19.1px;
  padding: 13px 0 0;
}

.header__ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__link:hover {
  color: #f96900;
}


@media (max-width: 575px){
  .mobile-wrapper {
    padding: 12px 16px 0 16px;
  }

  .header__logo {
    width: 22.5px;
height: 23px;
  }

  .header__textlogo {
    display: none;

  }

  .header__name {
    padding: 8px 0 0;
    width: 22.5px;
height: 23px;
  }
}